/* style.css */

/* --- Import Components stylesheets --- */
@import url("components/navbar.css");
@import url("components/banner.css");
@import url("components/footer.css");
@import url("components/entry-card.css");
@import url("components/carte.css");

body p, h1, h2, h3, h4, h5, h6, ul, li, a {
  /*font-family: 'Source Sans Pro', sans-serif;
  */
  font-family: Source Sans Pro, sans-serif;
}

#shiftdejob {
  color: #1BCB7F;
}

h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

#equation {
  font-size: 145%;
  padding-top: 20;
  padding-bottom: 20;
}

/*A revoir supprimer / Bootstrapper*/
.padding-top-15 {
  padding-top: 15;
}

.padding-bottom-15{
    padding-bottom: 15;
}

.acces-carte {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  margin-left: -15px;
}

.acces-carte:hover {
  background: #1BCB7F;
  color: white;
  text-decoration: none;
  margin-left: -15px;
}

.ressources a {
  text-decoration: none;
  color: #1BCB7F;
  transition: background 0.3s ease;
}

.ressources a:hover {
  color: #1BCB7F;
}

/*test banner bis sur home bis*/

.banner-bis h1{
  font-weight: bold;
  color: white;
  text-align: center;
}

.banner-bis {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

#arrow {
  size: 500px;
  padding-bottom: 10px;
}

@media(max-width: 576px) {
  #intro-carte {
    margin-top: 30px;
  }
}

#intro-carte h1 {
  font-weight: bold;
  color: black;
  margin: 0 auto;
  text-align: center;
}

#intro-ambition h1 {
  font-weight: bold;
  color: white;
  padding: 5 15;
}

#intro-ambition h2 {
  color: white;
  padding: 10 15;
}

#green {
  background-color: #1BCB7F;
}


/* [...] */
