#carte {
  width: 900px;
  height: 590px;
}

.fa-circle {
  color: #AEABB3;
}

.fa-plus-square {
  color: #34AAFF;
}

.fa-minus-square {
  color: #34AAFF;
}

.fa-dot-circle {
color: #34AAFF;
}

.fa-arrows-alt {
color: #34AAFF;
}

.fa-arrow-circle-right {
color: #34AAFF;
}
