/*POUR LES CARTES D'ENTREE */

.entry-card {
  height: 110px;
  /* à adpater en fonction du device!!!!*/
  padding: 10px;
  padding-top: 10px;
  margin-top:20px;
  font-color: white;
  margin-left: -15px;
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .entry-card {
    height: 150px;
  }
}

.cat-text h5{
  color: white;
  margin-bottom: 0;
}

.cat-text p{
  color: white;
  padding-top: 0px;
  margin-bottom: 0;
}

#energy {
  background-color: #7D83FF;
}

#transport {
  background-color: #FB785A;
}

#alimentation {
  background-color: #147319;
}

#biens {
  background-color: #F7901B;
}

#construction {
  background-color: #6D7A67;
}

#bas_carbone {
  background-color: #FBDC00;
}

#sobriété {
  background-color: #E0607E;
}

#initiatives {
  background-color: #25DAC0;
}

#expertise {
  background-color: #B12085;
}

#entreprise_engagée {
  background-color: #BDBF09;
}

#compensation {
  background-color: #4D4858;
}

#institutions {
  background-color: #C2714F;
}
